<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/login.js" defer></script>
    <title>Document</title>    
</head>
<body>
    <table>
        <tr>
            <td>아이디</td><td><input id="id" type="text" placeholder="아이디"></td></tr>
        <tr>
            <td>패스워드</td><td><input id="password" type="password" placeholder="패스워드"></td></tr>
        <tr>
            <td><button id="button">로그인</button></td></tr>
    </table>
</body>
</html>